@font-face {
    font-family: cute-font;
    src: url(Daydream.ttf);
}

@font-face {
    font-family: pixel-font;
    src: url(rainyhearts.ttf);
}

.super-container {
    box-shadow: 0px 0px 10px rgb(199, 199, 199);
    border: solid 1px rgb(109, 109, 109);
    display: flex;
    font-family: cute-font;
    flex-direction: column;
    background: linear-gradient(rgb(225, 169, 241), rgb(250, 178, 234));
    height: 600px;
    width: 800px;
    border-radius: 30px;
    align-items: center;
}

.end {
    font-family: pixel-font;
    color: blue;
    background: lightblue;
    border: 1px solid blue;
}

.start-button {
    align-self: center;
    font-family: pixel-font;
    background: lightblue;
    border: 1px solid blue;
    margin: 2px;
}
.title {
    font-family: inherit;
    text-align: center;
    margin: 5px;
    border: solid 1px rgb(255, 255, 157);
    padding: 20px;
    background: rgb(225, 169, 241);
    color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 30px rgb(187, 186, 255);

}

.by {
    font-family: pixel-font;
    color: white;
}

.turn {
    background: rgb(202, 253, 202);
    box-shadow: 4px 0px 0px green;
    border: solid 1px green;
    color: green;
    padding: 10px;
    margin: 10px;
    font-family: pixel-font;
    border-radius: 12px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 30px rgb(255, 254, 221);
    border-radius: 10px;
    background: rgba(231, 212, 252, 0.452);
    padding: 10px;
    margin-top: 5px;
    border: solid 1px rgb(251, 255, 200);
}

.board {
    flex: auto;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}

.cell {
    background: pink;
    color: white;
    border: solid darkmagenta 1px;
    box-shadow: 4px 0px 0px pink;
}

.win {
    background: gold;
    color: darkgoldenrod;
    border: gold;
    box-shadow: 4px 0px 0px  darkgoldenrod;
}


.player-wrapper {
    display: flex;
    justify-content: center;
    font-family: pixel-font;
    border-radius: 10px;
    background: rgb(239, 198, 250);
    padding: 10px;
}

.blue {
    background: rgb(208, 243, 255);
    color: rgb(126, 126, 253);
    box-shadow: inset 0px 0px 10px rgb(180, 234, 252);
    font-weight: bolder;
}

.pinker {
    background: salmon;
    box-shadow: inset 0px 0px 10px pink;
}

#player-one-name {
    background: linear-gradient(pink, rgb(255, 230, 234), white);
    border: pink solid 1px;
    border-radius: 30px;
    font-family: pixel-font;
    padding: 1vh;
    margin: 4px;
}

#player-two-name {
    background: linear-gradient(rgb(192, 227, 255), rgb(244, 252, 255), white);
    border: rgb(192, 227, 255) solid 1px;
    font-family: pixel-font;
    padding: 1vh;
    border-radius: 30px;
    margin: 4px;
}

#p1-submit,
#p2-submit {
    background: lavender;
    color: purple;
    border: solid 1px purple;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    padding: 2px;
    align-self: center;
    font-family: pixel-font;
    &:active {
        border: 2px;
        background: rgb(174, 174, 245);
        color: white;
        padding: 4px;
        box-shadow: 0px 0px 12px rgb(209, 180, 255), inset 0px 0px 10px white;
        transition: 0.3s;

        path {
            fill: white;
        }
    }

    path {
        fill: purple;
        box-shadow: 0px 0px 4px white;
    }
}

.score {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: solid 1px rgb(80, 80, 255);
    background: white;
    box-shadow: inset 0px 0px 5px silver;
}

.reset-score {
    height: 25px;
    width: 78px;
    margin-top: 5px;
    padding: 3px;
    background: rgb(248, 191, 170);
    border: solid 1px orangered;
    color: orangered;
    box-shadow: 3px 0px 0px rgb(255, 129, 83);
    font-family: pixel-font;
    border-radius: 10px;
    margin: 1px;
    &:active {
        margin-left: 2px;
        background: rgb(255, 188, 164);
    }
}

.reset {
    display: none;
    height: 50px;
    width: 50px;
    margin: 5px;
    background: rgb(225, 193, 255);
    border: solid 1px purple;
    font-family: pixel-font;
    padding: 4px;
}

label {
    align-self: center;
    margin-right: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
}

.show {
    display: block;
}